body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman", Times, serif;
    font-color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;

}

h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 1%;
}
h2 {
    font-size: 24px;
    margin-left: 4%;

}
.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    margin-left: 4%;
    margin-right: 2%;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
    line-height: 1.5em;
}

a {
    color: #d21034;
}

